{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load filters %}

{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'landingpage/css/main.css' %}">   
  <title>Generate activity annotation tasks </title>
</head>
<body>
    <div class="buttons">
      <form action="{% url 'landingpage:landingpage' project.id %}">
          <input type="submit" value="Go back to project dashboard" style="background-color: #c4862b; width:25%"/>
      </form>
    </div>
    <div class="forms">
        <h2>Generate activity annotation tasks</h2>
        <form id="taskgeneration-form" action="{% url 'taskgeneration:generateactivitytasks' project.id %}" method="post">
            {% csrf_token %}
            <table>
            {{ taskgenerationform.as_table }}
            </table>
            <input type="submit" value="Generate tasks">
        </form>
        <i>If you've annotated the offset, do not forget to parse the offset annotations in the 'Synchronize sensors' tab</i>
    </div>
    <div id="taskgeneration-message" style="display: none;">
      <p>Generating activity annotation tasks! Please wait...</p>
    </div>
    <script>
      document.getElementById('taskgeneration-form').addEventListener('submit',function() {
        document.getElementById('taskgeneration-message').style.display = 'block';
      });
    </script>
</body>


{% endblock %}