{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load filters %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'landingpage/css/main.css' %}">   
    <title>Subject annotation task creation </title>
</head>
<body>
    <div class="buttons">
        <form action="{% url 'landingpage:landingpage' project.id %}">
            <input type="submit" value="Go back to project dashboard" style="background-color: #c4862b; width:25%"/>
        </form>
    </div>
    <div class="forms">
        <h2>Create subject annotation task</h2>
        <p>
            On this page, you can start annotating the presence of subjects within your dataset. By clicking the button below, you will be directed to an overview featuring annotation tasks aimed at identifying the periods of time where your project subjects are present in the data. Upon completion, you can navigate back to the project dashboard utilizing the menu bar on the left side.
        </p>
        <form id="subject-form" enctype="multipart/form-data" action="{% url 'subjectannotation:create' project.id %}" method="post">
            <input type="submit" value="Go to subject annotation project">
        </form>
    </div>
    <div id="subject-message" style="display: none;">
        <p>Preparing subject presence annotation! Please wait...</p>
    </div>
    <script>
        document.getElementById('subject-form').addEventListener('submit', function() {
            document.getElementById('subject-message').style.display = 'block';
        });
    </script>
</body>


{% endblock %}