body {
    --border-color: rgba(0, 0, 0, 0.15);
    --color-error: #d00;

}
table {
font-size: 20px;
border: 1px solid rgba(0, 0, 0, 0.15);
text-align: left;
width: 100%; 
border-collapse: collapse;
}
table thead {
font-weight: 500;
}
table td, table th {
border: none;
}
table tbody tr {
cursor: pointer;
}
table tr {
background: rgba(0, 0, 0, 0.0001);
}
table tr.active {
box-shadow: 0 0 10px rgb(0 0 0 / 15%);
}
table tr:nth-child(2n + 1) {
background: rgba(0, 0, 0, 0.03);
}
table thead tr:nth-child(1) {
background: transparent;
}
table td, table th {
padding: 0 10px;
height: 48px;
}

.buttons {
    display: flex;
    padding: 10px;
}

input[type="submit"] {
    width: 300px !important;
    margin-right: 10px;
    background-color: #09f !important;
    box-shadow: inset 0px -1px 0px rgba(0,0,0,0.1);
    color: white;
}

.buttons form input[type="submit"] {
    width: 300px !important;
    margin-right: 10px;
    background-color: #09f !important;
    box-shadow: inset 0px -1px 0px rgba(0,0,0,0.1);
    color: white;
}