{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load filters %}

{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'landingpage/css/main.css' %}">   
    <title>Export Project</title>
</head>
<body>
    <div class="buttons">
        <form action="{% url 'landingpage:landingpage' project.id %}">
            <input type="submit" value="Go back to project dashboard" style="background-color: #c4862b; width:25%"/>
        </form>
    </div>
    <div class="forms">
        <h2>Export project</h2>
        <form id="export-form" enctype="multipart/form-data" action="{% url 'landingpage:export-project' project.id %}" method="post">
            <input type="submit" value="Create Export">
        </form>
    </div>
    <div id="exporting-message" style="display: none;">
        <p>Preparing project export! Please wait...</p>
    </div>
    <div class="exports">
        <h2>Project exports</h2>
        <table class="tables">
            <tr>
                <th>Export file</th>
                <th>Export date</th>
                <th></th>
                <th></th>
            </tr>
            {% for zipfile in zip_files %}
            <tr>
                <td>{{ zipfile.name }}</td>
                <td>{{ zipfile.created_at|date:"F d, Y, H:i:s" }}</td>
                <td><a href="{% url 'landingpage:download-file' project.id zipfile.zip_file.path %}" download>[Download]</a></td>
                <td><a href="{% url 'landingpage:delete-zipfile' project.id zipfile.id %}">[Delete]</a></td>
            </tr> 
            {% endfor %} 
        </table>
    </div>

    <script>
        document.getElementById('export-form').addEventListener('submit', function() {
            document.getElementById('exporting-message').style.display = 'block';
        });
    </script>
    
</body>

{% endblock %}