{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load filters %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'landingpage/css/main.css' %}">   
    <title>Home</title>
</head>
<body>
    <h1>Welcome</h1>
    <div class="buttons">
        <form action="/landingpage/create_project">
            <input type="submit" value="Create new project" style="background-color: #c4862b; width:25%"/>
        </form>
    </div>
    <div class="projects">
        <h2>Projects</h2>
        <table class="tables">
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
            {% for project in projects %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.project_id }}</td>
                <td><a href="{% url 'landingpage:landingpage' project.project_id %}">Go to project page</a></td>
                <td><a href="{% url 'landingpage:delete-project' project.project_id %}">[Delete]</a></td>
            </tr> 
           {% endfor %} 
        </table>
    </div>
</body>

{% endblock %}
