{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load filters %}

{% block content %}

<head>
    <title>Landingpage</title>
</head>
<body>
  <div class="buttons">
    <form action="/landingpage/dashboard">
      <input type="submit" value="Go back to dashboard" style="background-color: #c4862b; width:25%"/>
    </form>
  </div>
    <h1>{{ main_project }} - overview</h1>
    <p>
      Welcome to your Project Dashboard! This central hub guides you through a step-by-step workflow for effectively annotating your data. Our workflow assists you in organizing and synchronizing your data with ease. The process is broken down as follows: Steps 1-4 link data to subjects and deploy sensors on those subjects. In step 5, you will annotate your 'raw' video for subject presence. Because the sensors employed in your project are not perfectly synchronized, we need to find the time offset in the clocks from your sensors. In step 6, you will annotate the offset between sensors. These 'subject presence' annotations are used in step 7 to create annotation tasks that automatically combine data from multiple sensor modalities. Step 8 will then take you to the activity annotation page, where you can investigate and annotate the synchronized multimodal data. Step 9 allows you to export all the annotations. Further details are provided in the respective steps below. 
    </p>
    <ol>
        <li><a href="{% url 'sensormodel:sensor' main_project.project_id %}">Manage sensors</a></li>
        Manage your project sensors here. Add cameras or IMU sensors to your projects.
        <li><a href="{% url 'sensormodel:subject' main_project.project_id %}">Manage subjects</a></li>
        Manage your project subjects here. Here, you can add and edit the subjects used in your projects.
        <li><a href="{% url 'sensormodel:deployment' main_project.project_id %}">Manage deployments</a></li>
        Manage your project deployments here. This gives an overview of the deployments of your sensors to your subjects.
        <li><a href="{% url 'sensordata:sensordatapage' main_project.project_id %}">Manage data</a></li>
        Manage your experimental data here. Here you can add zip files with your IMU or camera data to the project.
        <li><a href="{% url 'subjectannotation:annotationtaskpage' main_project.project_id %}">Annotate subject presence</a></li>
        Here you can annotate the subject presence in your videos. The videos can be annotated with your subjects as labels.
        <li><a href="{% url 'sensordata:offset' main_project.project_id %}">Synchronize sensors</a></li>
        Here you can add the offset between the camera data and the IMU data.
        <li><a href="{% url 'taskgeneration:generate_form' main_project.project_id %}">Generate activity annnotation tasks</a></li>
        Annotate the data using the activity labels. It is only data with subjects present.
        <li><a href="{% url 'data_manager:project-data' main_project.project_id|add:2 %}">Annotate</a></li>
        Annotate the data using the activity labels. It is only data with subjects present.
        <li><a href="{% url 'landingpage:export-project' main_project.project_id %}">Export annotations</a></li>
        Export your subject and activity annotations.
    </ol>
</body>

{% endblock %}