{% extends 'base.html' %}

{% block content %}


<head>
  <link rel="stylesheet" href="{% static 'landingpage/css/main.css' %}">   
</head>

<body>
    <div class="buttons">
        <form action="{% url 'sensormodel:deployment' project.id %}">
            <input type="submit" value="Go back to deployment page" />
        </form>
    </div>
    <div class="forms">
        <form action="" method="post">
            <table>
            {{ deploymentform.as_table }}
            </table>
            <input type="submit" value="Adjust deployment">
        </form>
    </div>

</body>


{% endblock %}