{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load filters %}

{% block content %}


<head>
    <link rel="stylesheet" href="{% static 'landingpage/css/main.css' %}">   
    <title>Subject overview</title>
</head>
<body>
    <div class="buttons">
        <form action="{% url 'landingpage:landingpage' project.id %}">
            <input type="submit" value="Go back to project dashboard" style="background-color: #c4862b; width:25%"/>
        </form>
    </div>
    <div class="forms">
        <h2>Add subject</h2>
        <form action="{% url 'sensormodel:subject' project.id %}" method="post">
            <table>
            {{ subjectform.as_table }}
            </table>
            <input type="submit" value="Create subject">
        </form>
    </div>
    <div class="subjects">
        <h2>Subjects</h2>
        <table class="tables">
            <tr>
                <th>Name</th>
                <th>Color</th>
                <th>Size</th>
                <th>Extra Info</th>
                <th></th>
                <th></th>
            </tr>
            {% for subject in subjects %}
            <tr>
                <td>{{ subject.name }}</td>
                <td>{{ subject.color }}</td> 
                <td>{{ subject.size }}</td>
                <td>{{ subject.extra_info }}</td>
                <td><a href="{% url 'sensormodel:adjust_subject' project.id subject.id %}"> [Edit] </a></td>
                <td><a href="{% url 'sensormodel:delete_subject' project.id subject.id %}">[Delete]</a></td>
            </tr> 
           {% endfor %} 
        </table>
    </div>
</body>

{% endblock %}