{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load filters %}

{% block content %}


<head>
    <link rel="stylesheet" href="{% static 'landingpage/css/main.css' %}">   
    <title>Deployment overview</title>
</head>
<body>
    <div class="buttons">
        <form action="{% url 'landingpage:landingpage' project.id %}">
            <input type="submit" value="Go back to project page" style="background-color: #c4862b; width:25%"/>
        </form>
    </div>
    <div class="forms">
        <h2>Add deployment</h2>
        <form action="{% url 'sensormodel:deployment' project.id %}" method="post">
            <table>
            {{ deploymentform.as_table }}
            </table>
            <input type="submit" value="Create deployment">
        </form>
    </div>
    <div class="deployments">
        <h2>Deployments</h2>
        <table class="tables">
            <tr>
                <th>Sensor</th>
                <th>Subject</th>
                <th>Begin Date Time</th>
                <th>End Date Time</th>
                <th>Location</th>
                <th></th>
                <th></th>
            </tr>
            {% for deployment in deployments %}
            <tr>
                <td>{{ deployment.sensor}}</td>
                <td>{{ deployment.subject }}</td>
                <td>{{ deployment.begin_datetime }}</td>
                <td>{{ deployment.end_datetime }}</td> 
                <td>{{ deployment.location}} </td>
                <td><a href="{% url 'sensormodel:adjust_deployment' project.id deployment.id %}">[Edit]</a></td>
                <td><a href="{% url 'sensormodel:delete_deployment' project.id deployment.id %}">[Delete]</a></td>
            </tr> 
            {% endfor %} 
        </table>  
    </div>
</body>

{% endblock %}