{% extends 'base.html' %}

{% block content %}


<head>
  <link rel="stylesheet" href="{% static 'landingpage/css/main.css' %}">   
  <stitle></title>
</head>
<body>
    <div class="buttons">
        <form action="{% url 'sensormodel:sensor' project.id %}">
            <input type="submit" value="Go back to sensor page" />
        </form>
    </div>
    <div class="forms">
        <form action="" method="post">
            <table>
            {{ sensorform.as_table }}
            </table>
            <input type="submit" value="Adjust sensor">
        </form>
    </div>

</body>


{% endblock %}