{% extends 'base.html' %}

{% block content %}


<head>
  <link rel="stylesheet" href="{% static 'landingpage/css/main.css' %}">   
  <title></title>
</head>
<body>
    <div class="buttons">
      <form action="{% url 'sensormodel:subject' project.id %}">
            <input type="submit" value="Go back to subject page" />
        </form>
    </div>
    <div class="forms">
        <form action="" method="post">
            <table>
            {{ subjectform.as_table }}
            </table>
            <input type="submit" value="Adjust subject">
        </form>
    </div>

</body>


{% endblock %}