{% extends 'base.html' %}

{% block content %}


<head>
  <link rel="stylesheet" href="{% static 'landingpage/css/main.css' %}">   
</head>
<body>
    <div class="buttons">
        <form action="{% url 'sensordata:offset' project.id %}">
            <input type="submit" value="Go back to sensor offset page" />
        </form>
    </div>
    <div class="forms">
        <p>Add the offset between the camera and the IMU. Since the internal time of both devices will never be fully synced there will always be an offset between the two.</p>
        <p>Here this offset can be added in milliseconds to synchronize the data of the camera and the IMU.</p>
        <form action="" method="post">
            <table>
            {{ offsetform.as_table }}
            </table>
            <input type="submit" value="Adjust sensor offset">
        </form>
    </div>

</body>


{% endblock %}