{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load filters %}

{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'landingpage/css/main.css' %}">   
</head>


<head>
    <title>Upload not completed</title>
</head>
<body>
    <h2>The following files were not uploaded, since they do not belong to the chosen sensor!</h2>
    <div class="files">
        <table class="tables">
            <tr>
                <th>Incorrect files</th>
            </tr>
            {% for file_name in mismatched_files %}
            <tr>
                <td>{{ file_name }}</td>
            </tr> 
            {% endfor %} 
        </table>
    </div>

    <div class="buttons">
        <form action="{% url 'sensordata:sensordatapage' project.id %}">
            <input type="submit" value="Go back to sensor data overview" style="background-color: #c4862b; width:25%; color: white"/>
        </form>
    </div>
</body>

{% endblock %}