{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load filters %}

{% block content %}

<head>
    <title>Sensor offset</title>
    <link rel="stylesheet" href="{% static 'landingpage/css/main.css' %}">   
</head>
<body>
    <div class="buttons">
        <form action="{% url 'landingpage:landingpage' project.id %}">
            <input type="submit" value="Go back to project dashboard" style="background-color: #c4862b; width:25%"/>
        </form>
    </div>
    <h2>Sensor synchronization</h2>
    <p>
        The objective of this page is to synchronize all sensors involved in the project. This synchronization is achieved by annotating the positive and negative offsets between pairs of sensors.
        To begin, you must generate tasks by selecting the relevant data files intended for synchronizing the sensors. This can be done by clicking on 'Add sensor offset'. Subsequently, annotation tasks will be generated, which can be annotated by navigating to the 'Offset Annotation Page'. To return to the project dashboard, please utilize the menu bar provided on the side.
        Upon completion of annotation, clicking 'Parse offset annotations' will extract the offsets from your annotations, allowing you to view them in the table displayed at the bottom of this page.
    </p>
    <div class="forms">
        <h3>Select the data that is intended for the synchronization of the sensors</h3>
        <form action="{% url 'sensordata:generate_tasks' project.id %}" method="post">
            {% csrf_token %}
            <table class="forms">
                <tr>
                    <th>Sensor Data</th>
                    <th>Begin datetime</th>
                    <th>End datetime</th>
                    <th>Manual Offset</th>
                </tr>
                {% for choice in offsetannotationform.sync_sensordata %}
                    {% for data in sensor_data %}
                        {% if forloop.counter == forloop.parentloop.counter %}
                            <tr>
                                <td>{{ choice }}</td>
                                {% if data.sensor.manual_offset %}
                                    <td>{{ data.begin_datetime_adjusted|date:"Y-m-d H:i:s" }}</td>
                                    <td>{{ data.end_datetime_adjusted|date:"Y-m-d H:i:s" }}</td>
                                    <td>{{ data.sensor.manual_offset }} <a href="{% url 'sensordata:manual_offset' project.id data.sensor.id %}"> [Edit] </a></td>
                                {% else %}
                                    <td>{{ data.begin_datetime|date:"Y-m-d H:i:s" }}</td>
                                    <td>{{ data.end_datetime|date:"Y-m-d H:i:s" }}</td>
                                    <td>0 <a href="{% url 'sensordata:manual_offset' project.id data.sensor.id %}"> [Edit] </a></td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </table>
            <input type="submit" value="Generate offset annotation task">
        </form>
    </div>
    <div class="buttons">
        <form action="{% url 'data_manager:project-data' offset_project.id %}">
            <input type="submit" value="Go to offset annotation page" style="background-color: #c4862b; width:50%"/>
        </form>
    </div>
    <div class="buttons">
        <form action="{% url 'sensordata:parse_offset' project.id %}">
            <input type="submit" value="Parse offset annotations " style="background-color: #c4862b; width:50%"/>
        </form>
    </div>
    <div class="sensoroffset">
        <h3>Sensor offsets</h3>
        <table class="tables">
            <tr>
                <th>Sensor A</th>
                <th>Sensor B</th>
                <th>Offset (ms)</th>
                <th>Start offset</th>
                <th></th>
                <th></th>
            </tr>
            {% for senoffset in sensoroffset %}
                <tr>
                    <td>{{ senoffset.sensor_A }}</td>
                    <td>{{ senoffset.sensor_B }}</td>
                    <td>{{ senoffset.offset }}</td> 
                    <td>{{ senoffset.offset_Date}} </td>
                    <td><a href="{% url 'sensordata:adjust_offset' project.id senoffset.id %}"> [Edit] </a></td>
                    <td><a href="{% url 'sensordata:delete_offset' project.id senoffset.id %}"> [Delete] </a></td>
                </tr> 
            {% endfor %}
        </table>
    </div>
</body>

{% endblock %}