{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load filters %}

{% block content %}
<head>
    <title>Sensor mapping</title>
    <link rel="stylesheet" href="{% static 'landingpage/css/main.css' %}">
</head>

<body>
    <div class="buttons">
        <form action="{% url 'landingpage:landingpage' project.id %}">
            <input type="submit" value="Go back to project dashboard" style="background-color: #c4862b; width:25%"/>
        </form>
        <form action="{% url 'sensordata:addsensordata' project.id %}">
            <input type="submit" value="Add sensor data file" style="background-color: #c4862b; width:25%"/>
        </form>
    </div>
    <div class="sensordata">
        <h2>Sensor data</h2>
        <table class="tables">
            <tr>
                <th>Sensor data name</th>
                <th>Begin Date Time</th>
                <th>End Date Time</th>
                <th>Project</th>
                <th>Sensor</th>
                <th></th>
            </tr>
            {% for sendata in sensordata %}
            <tr>
                <td>{{ sendata.name }}</td>
                <td>{{ sendata.begin_datetime|date:"F d, Y, H:i:s" }}</td>
                <td>{{ sendata.end_datetime|date:"F d, Y, H:i:s" }}</td>
                <td>{{ sendata.project}} </td>
                <td>{{ sendata.sensor}} </td>
                <td><a href="{% url 'sensordata:delete' project.id sendata.id %}">[Delete]</a></td>
            </tr> 
            {% endfor %} 
        </table>
        
        
    </div>

</body>


{% endblock %}